* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variable */
:root {
  --p-very-dark-blue: hsl(233, 47%, 7%);
  --p-dark-desaturated-blue: hsl(244, 38%, 16%);
  --p-soft-violet: hsl(277, 64%, 61%);

  --n-white: hsl(0, 0%, 100%);
  --n-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --n-slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

/* Utilities */
.fw-400-Inter {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.fw-700-Inter {
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.fw-400-Lexend {
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
}

body {
  background-color: var(--p-very-dark-blue);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--p-dark-desaturated-blue);
}

img {
  width: 100%;
}
